{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordering</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ordering.id }}</td>
            </tr>
            <tr>
                <th>Origin</th>
                <td>{{ ordering.origin }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ ordering.destination }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if ordering.date %}{{ ordering.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ ordering.note }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ordering.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('order_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('order_edit', { 'id': ordering.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
